@font-face {
  font-family: gotham;
  src: url("Gotham-Bold.woff");
  /* src: url("GothamBold.woff2"); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #F9423A;
   */
   background: linear-gradient(225deg, #e03b34, #ff473e);

  height: 100vh;
  flex-direction: column;
}

body h2 {
  font-family: gotham;
  color: white;
  margin-bottom: 16px;
  font-size: 3.2em;
  letter-spacing: -2px;
}

.wrapper {
  padding: 50px;
  /* background-color: white; */
  border-radius: 10px;
  transition: 0.2s ease;
  border-radius: 15px;
  background: linear-gradient(225deg, #e03b34, #ff473e);
  box-shadow:  -6px 6px 12px #c5342e,
               6px -6px 12px #ff5046;

}
/* .wrapper:hover
{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);

} */

.wrapper .mainContent {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}

.wrapper .mainContent input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 17px;
  margin-bottom:3px;
  background: none;
  -webkit-column-rule: #000;
  -moz-column-rule: #000;
  column-rule: #000;;
}

.wrapper .mainContent label {
  position: absolute;
  top: 10px;
  left: -2px;
  pointer-events: none;
  transition: all 0.3s ease;

}

.wrapper .mainContent input:focus~label,
.wrapper .mainContent input:valid~label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #fff;
}

.wrapper .mainContent .underline {
  position: absolute;
  height: 2px;
  bottom: 0;
  /* border-bottom: 2px solid red; */
  width: 100%;
  /* background: red; */
}

.wrapper .mainContent .underline::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  background: #fff;
  transition: transform 0.3s ease;
}

.wrapper .mainContent input:focus~.underline::before,
.wrapper .mainContent input:valid~.underline::before {
  transform: scaleX(1);
}

.wrapper .main {
  position: relative;
}

.wrapper .main textarea {
  border: 2px solid #000;
  /* border:none; */
  /* padding-t: 1px; */
  padding: 41px 10px 10px 14px;
  width: 100%;
  height: 100%;
  font-size: 17px;
  background: none;
  /* outline: none;   */
}

.wrapper .main label {
  position: absolute;
  top: 23px;
  left: 12px;
  pointer-events: none;
  font-size: 17px;
  transition: all 0.3s ease;
}

.wrapper .main textarea:focus~label,
.wrapper .main textarea:valid~label {
  color: #fff;
  transform: translateY(-10px);
}

.wrapper .main #textarea:focus,
.wrapper .main #textarea:valid {
  border: 2px solid #fff;
}

#btn {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  background: #fff;
  /* border: aquamarine; */
  color: #F9423A;
  /* border: 2px solid black; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: 0.1s ease;
}

#btn:hover {
  background-color: #fff;
  transform: translateY(-2px);
}
.error
{
  color: yellow
  ;
}
